In [2]:
import pandas as pd

# Expand Availability Array Into Separate Columns

In [14]:
df = pd.read_excel (r"C:\Users\s137c989\OneDrive - The University of Kansas\Airbnb Shared with Anyi\available.xlsx")

In [15]:
for index, col in enumerate(df.columns): 
    print(index, col)

0 listing_id
1 days_available_monthly
2 host_name_has_space

In [24]:
df.head(10)

,listing_id,days_available_monthly,host_name_has_space
0,27259995,"[3, 30, 31, 25, 0, 0, 0, 0, 0, 0, 0, 0]",0
1,9214018,"[1, 27, 31, 30, 31, 31, 30, 31, 30, 31, 31, 28]",0
2,38703888,"[4, 30, 31, 30, 31, 31, 30, 31, 30, 31, 31, 28]",0
3,21109067,"[0, 0, 31, 13, 4, 9, 30, 31, 30, 22, 0, 0]",0
4,13301958,"[0, 0, 0, 0, 0, 0, 0, 0, 30, 31, 31, 28]",0
5,30481280,"[5, 30, 31, 30, 31, 31, 30, 31, 30, 31, 31, 28]",0
6,25052417,"[5, 30, 31, 30, 31, 31, 30, 31, 30, 31, 31, 28]",0
7,18315194,"[4, 28, 22, 18, 0, 26, 30, 14, 30, 25, 31, 28]",0
8,42700324,"[4, 29, 26, 23, 0, 0, 0, 0, 0, 0, 0, 0]",1
9,17302028,"[1, 0, 0, 23, 31, 13, 23, 31, 30, 24, 31, 28]",1

In [17]:
from ast import literal_eval
df.days_available_monthly = df.days_available_monthly.apply(literal_eval)

In [26]:
print(df.days_available_monthly[1][11])

28

In [29]:
df[['Month1', 'Month2', 'Month3', 'Month4', 'Month5', 'Month6', 'Month7', 'Month8', 'Month9', 'Month10', 'Month11', 'Month12']] \
    = pd.DataFrame(df.days_available_monthly.tolist(), index = df.index)

In [32]:
availability = df.to_csv (r'C:\Users\s137c989\OneDrive - The University of Kansas\Airbnb Shared with Anyi\Availability_Dip.csv.gz', index = None, header=True, compression='gzip')

# Host Names

In [3]:
All_Names = pd.read_csv(r'C:\Users\s137c989\OneDrive - The University of Kansas\Airbnb Shared with Anyi\Combined_Listings.csv.gz',\
                           compression='gzip', usecols=['host_name'])

In [4]:
All_Names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327146 entries, 0 to 327145
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   host_name  327146 non-null  object
dtypes: object(1)
memory usage: 2.5+ MB

In [5]:
All_Names = All_Names.drop_duplicates(keep = 'first')
All_Names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37307 entries, 0 to 327132
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   host_name  37307 non-null  object
dtypes: object(1)
memory usage: 582.9+ KB

In [6]:
All_Names['parts_of_speech'] = All_Names['host_name']
All_Names.head()

  host_name parts_of_speech
0     Alton           Alton
1  Gretchen        Gretchen
2  Vacation        Vacation
3    Taylor          Taylor
4     Allen           Allen

In [7]:
# Parts of Speech in name : https://spacy.io/api/annotation
import spacy

nlp = spacy.load('en', disable=['parser', 'ner'])
nlp.max_length = 1030000 

def name_pos(name):    
    lower_name = name.lower()
    return [token.pos_ for token in nlp(lower_name)]

All_Names['parts_of_speech'] = All_Names['parts_of_speech'].apply(name_pos)

In [9]:
All_Names[ All_Names['parts_of_speech'].str.len()>1 ]

                 host_name               parts_of_speech
8             Dame Lillian                [PROPN, PROPN]
9         Beachview Realty                [PROPN, PROPN]
10           Yiming (CoCo)  [PROPN, PUNCT, PROPN, PUNCT]
12       Vacasa California                [PROPN, PROPN]
13      Martin And Patrice          [PROPN, CCONJ, NOUN]
...                    ...                           ...
327025    Oliver And Coral          [PROPN, CCONJ, NOUN]
327062  Chris And Shawanda         [PROPN, CCONJ, PROPN]
327079           Sara Savi                [PROPN, PROPN]
327128          Rick & Amy         [PROPN, CCONJ, PROPN]
327130     Asmara And Kenn         [PROPN, CCONJ, PROPN]

[15526 rows x 2 columns]

In [22]:
All_Names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37307 entries, 0 to 327132
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   host_name        37307 non-null  object
 1   parts_of_speech  37307 non-null  object
dtypes: object(2)
memory usage: 874.4+ KB

In [10]:
All_Names.to_csv(r'C:/Users/s137c989/OneDrive - The University of Kansas/AirBnb Data and Codes/All_Host_Names.csv.gz',\
                           compression='gzip')

In [13]:
Names_R = pd.read_csv(r'C:/Users/s137c989/OneDrive - The University of Kansas/AirBnb Data and Codes/All_Host_Name2.csv.gz',\
                           compression='gzip')

In [19]:
Names_R = Names_R.drop(['Unnamed: 0'],axis=1)
Names_R.head()

  host_name  proportion_male  proportion_female host_gender_r
0     Aadit           1.0000             0.0000          male
1     Aahna           0.0000             1.0000        female
2   Aaliyah           0.0012             0.9988        female
3     Aamer           1.0000             0.0000          male
4     Aamir           1.0000             0.0000          male

In [20]:
Names_R.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12939 entries, 0 to 12938
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   host_name          12939 non-null  object
 1   proportion_male    12939 non-null  float64
 2   proportion_female  12939 non-null  float64
 3   host_gender_r      12939 non-null  object
dtypes: float64(2), object(2)
memory usage: 404.5+ KB

In [28]:
All_Names2 = pd.merge(left=Names_R, right=All_Names, left_on='host_name', right_on='host_name',how='right')

columns = ['host_name','parts_of_speech','proportion_female','host_gender_r']
All_Names2 = All_Names2[columns]

In [32]:
All_Names2.tail(10)

,host_name,parts_of_speech,proportion_female,host_gender_r
37297,Oliver And Coral,"[PROPN, CCONJ, NOUN]",NaN,NaN
37298,Teeb,[PROPN],NaN,NaN
37299,Chris And Shawanda,"[PROPN, CCONJ, PROPN]",NaN,NaN
37300,Too,[ADV],NaN,NaN
37301,Sara Savi,"[PROPN, PROPN]",NaN,NaN
37302,Sanata,[PROPN],NaN,NaN
37303,Rossa,[PROPN],NaN,NaN
37304,Gennet,[NOUN],NaN,NaN
37305,Rick & Amy,"[PROPN, CCONJ, PROPN]",NaN,NaN
37306,Asmara And Kenn,"[PROPN, CCONJ, PROPN]",NaN,NaN

In [29]:
All_Names2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37307 entries, 0 to 37306
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   host_name          37307 non-null  object
 1   parts_of_speech    37307 non-null  object
 2   proportion_female  12939 non-null  float64
 3   host_gender_r      12939 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.4+ MB

In [37]:
#!pip install gender_guesser

Requirement already satisfied: gender_guesser in c:\users\s137c989\anaconda3\lib\site-packages (0.4.0)

In [46]:
import gender_guesser.detector as gender
d = gender.Detector()

All_Names2['host_gender_py'] = All_Names2['host_name'].apply(d.get_gender)

In [47]:
All_Names2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37307 entries, 0 to 37306
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   host_name          37307 non-null  object
 1   parts_of_speech    37307 non-null  object
 2   proportion_female  12939 non-null  float64
 3   host_gender_r      12939 non-null  object
 4   host_gender_py     37307 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

In [48]:
All_Names2.to_csv(r'C:/Users/s137c989/OneDrive - The University of Kansas/AirBnb Data and Codes/All_Host_Names_v3.csv.gz',\
                           compression='gzip')